.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  border: 2px solid;
  border-radius: 5px;
  box-sizing: border-box;
  width: 75%;
  padding: 40px;
  margin: auto;
  background-color: #f2f2f2;
}

.container2 {
  border: 2px solid;
  border-radius: 5px;
  box-sizing: border-box;
  width: 75%;
  padding: 40px;
  margin: 20px auto;
  background-color: #f2f2f2;
}

h2 {
  text-align: left;
  flex: 100%;
  margin: 0px 0px 20px;
}

.parameter-input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.number-input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 8px;
  box-sizing: border-box;
}

label {
  display:block;
}

#abstract {
  min-height: 5rem;
  width:100%;
  margin-bottom: 8px;
}

.data-text-field {
  background-color: white;
}

.MuiOutlinedInput-input {
  padding: 18.5px 14px;
}


.form-submit{
  margin-top: 15px;
}

.input-set {
  margin: 8px 0px;
}

.link {
  font-size: 1.5rem;
  padding: 5px;
}

.data-label{
  font-size: 1.2rem;
  padding: 5;
  margin: 12px 0px;
}

.approve-deny-btn {
  margin: 12px;
  display: flex;
  justify-content: space-evenly;
}

.experiment-parameter {
  margin-bottom: 10px;
}